.shake {
  animation-name: shake;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes shake {
  from, to {
    transform: translate(-50%, calc(-50% - 25px));
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate(-51%, calc(-50% - 25px));
  }

  20%, 40%, 60%, 80% {
    transform: translate(-49%, calc(-50% - 25px));
  }
}

.slideAwayLeft-enter-active, .slideAwayLeft-leave-active,
.slideAwayRight-enter-active, .slideAwayRight-leave-active {
  transition: 1s;
}

.slideAwayLeft-enter {
  left: 0!important;
  transform: translate(-100%, calc(-50% - 25px))!important;
}

.slideAwayRight-enter {
  left: 100%!important;
  transform: translate(0, calc(-50% - 25px))!important;
}

.slideAwayLeft-leave-to {
  left: 0!important;
  transform: translate(-100%, calc(-50% - 25px))!important;
}

.slideAwayRight-leave-to {
  left: 100%!important;
  transform: translate(0, calc(-50% - 25px))!important;
}

