// Sizes
$mobile: 'only screen and (max-width : 480px)';
$maxLogoutButtonsSpacing: 'only screen and (min-width : 850px)';

// Colour
$socketChatLightGrey: #f1f0f0;
$socketChatDarkGrey: #B7B7B7;
$socketChatDarkGreen: #45b985;
$socketChatLightGreen: #82deb5;
$socketChatDarkBlue: #35495e;
$socketChatLightBlue: #82b0e0;
$socketChatDarkRed: #d20c0c;

$shadow: 0 0 3px 2px rgba($socketChatDarkGrey, 0.8);