$socketChatLightGrey: #f1f0f0;
$socketChatDarkGrey: #B7B7B7;
$socketChatDarkGreen: #41b883;
$socketChatLightGreen: #82deb5;
$socketChatDarkBlue: #35495e;
$socketChatLightBlue: #82b0e0;
$socketChatDarkRed: #d20c0c;